@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

:root{
    --purple1:#ffb9ff;
    --purple2:#cd00cd;
    --purple3:#b300b3;
    --pink1:#ff67b3;
    --pink2:#ff1a8d;
    --pink3:#b3005a;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid black;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.5);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
 }
 
 *{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
 }


 html{
    font-size: 55%;
    overflow-x: hidden;
 }
 
 html::-webkit-scrollbar{
    width: 1rem;
 }
 
 html::-webkit-scrollbar-track{
    background-color: var(--purple3);
 }
 
 html::-webkit-scrollbar-thumb{
    background-color: var(--purple1);
 }

 section{
    padding:5rem 10%;
 }


 .heading{
   background-size: cover !important;
   background-position: center !important;
   padding-top: 10rem;
   padding-bottom:15rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading h1{
   font-size: 10rem;
   text-transform: uppercase;
   color:var(--purple3);
   text-shadow: var(--text-shadow);
}

 .heading-title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:black;
}


 .header{
    position: sticky;
    top:0; left:0; right:0;
    z-index: 1000;
    background-color: var(--purple3);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2%;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
 }
 
 .header .logo{
    font-size: 3rem;
    color:white;
 }
 
 .header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color:white;
 }
 
 .header .navbar a:hover{
    color:var(--purple1);
 }


 .carousel-inner .btn,.services .btn , .home-about .btn, .home-packages .btn{

   background-color: #cd00cd;
   border: none;
   color: white; 
   padding: 10px 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 10px;
   margin: 4px 2px;
   cursor: pointer;
 }

 .btn:hover{
background: #ffb9ff;

 }
 .carousel-inner {
   background: var(--light-bg);
   width: "100";
   height:"500";
   color: #fff;

}


.home{
 
   background-color: #fff;
   width: "100";
   height:"500";
   color: #fff;
   
}



.home .container{
   background-color: #fff;
   width: "100";
   height:"500";
   
   
}







.home .slide .content span{
  display: block;
  font-size: 1.2rem;
  color:#fff;
  padding-bottom: 1rem;
  animation: fadeIn .4s linear backwards .2s;
  }

  .home .slide .content h3{
   
   font-size: 6vw;
   color: var(--white);
  text-transform: uppercase;
  line-height: 1;
  text-shadow: var(--text-shadow);
  padding: 1rem 0;
  animation: fadeIn .4s linear backwards .4s;

   }
   .home .carousel-inner {
      background-color: #000;

   }
  



   .home .slide .content .btn{
      animation: fadeIn .4s linear backwards .4s;
      background: var(--white);

   }

 
   .centered {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      

     

    }
    .centered1 {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 5rem;
     
     

    }
    .centered1 h3{
      font-size: 2.5rem;

    }
    

    .centered2 {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 5rem;
     

    }
    .centered2 h3{
      font-size: 2.5rem;

    }

    .services{

      background: var(--light-bg);
      
    }
    .services .heading-title{
      color: var(--purple3);
    }

 .services .box-container{
   
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
   gap: 1.5rem;
}

.services .box-container .box{
   padding:3rem 1rem;
   text-align: center;
   background: var(--purple3);
   cursor: pointer;
}

.services .box-container .box:hover{
   background: var(--purple1);
}

.services .box-container .box img{
   height: 8rem;
}

.services .box-container .box h3{
   color:white;
   font-size: 1.7rem;
   padding-top: 1rem;
}


.home-about{
   background: var(--light-bg);
   display: flex;
   align-items: center;
   flex-wrap: wrap;


}

.home-about .image{

   flex: 1 1 41rem;

}

.home-about .image img{

   width: 100%;

   
}

.home-about .content{
   flex: 1 1 41rem;
   padding: 3rem;
   background: var(--light-bg);
   
   

}
.home-about .content h3{
   font-size: 3rem;
   color: var(--purple3);

}
.home-about .content p{
   font-size: 1.5rem;
   padding: 1rem 0;
   line-height: 2;
   color: var(--black);
   
}

.home-packages{
   background: var(--light-bg);
}

.home-packages .heading-title{
   color: var(--purple3);
}



.home-packages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

.home-packages .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background: white;
}

.home-packages .box-container .box:hover .image img{
   transform: scale(1.1);
}

.home-packages .box-container .box .image{
   height: 25rem;
   overflow: hidden;
}

.home-packages .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.home-packages .box-container .box .content{
   padding:2rem;
   text-align: center;
}

.home-packages .box-container .box .content h3{
   font-size: 2.5rem;
   color:var(--purple3);
}

.home-packages .box-container .box .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

.home-packages .load-more{
   text-align: center;
   margin-top: 2rem;
}


.home-offer{
   text-align: center;
}

.home-offer .content{
   max-width:70rem;
   margin:0 auto;
}

.home-offer .content h2{
   font-size: 3.5rem;
   text-transform: uppercase;
   color:var(--purple3);
}

.home-offer .content p{
   font-size: 1.5rem;
   color:black;
   line-height: 2;
   padding:1rem 0;
}



.about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   gap:3rem;
}

.about .image{
   flex:1 1 41rem;
}

.about .image img{
   width: 100%;
}

.about .content{
   flex:1 1 41rem;
   text-align: center;
}

.about .content h3{
   font-size: 3rem;
   color:var(--purple3);
}

.about .content p{
   font-size: 1.5rem;
   color:black;
   line-height: 2;
   padding:1rem 0;
}

.about .content .icons-container{
   margin-top: 2rem;
   display: flex;
   flex-wrap: wrap;
   gap:1.5rem;
   align-items: flex-end;
}

.about .content .icons-container .icons{
   background: var(--purple2);
   padding:2rem;
   flex:1 1 16rem;
}

.about .content .icons-container .icons i{
   font-size: 4rem;
   margin-bottom: 2rem;
   color:var(--purple1);
}

.about .content .icons-container .icons span{
   font-size: 1.5rem;
   color:white;
   display:block;
}



.reviews{
   background: var(--light-bg);
}

.reviews .slide{
   padding:2rem;
   border:var(--border);
   background: white;
   text-align: center;
   box-shadow: var(--box-shadow);
   user-select: none;
}

.reviews .slide .stars{
   padding-bottom: .5rem;
}

.reviews .slide .stars i{
   font-size: 1.7rem;
   color:var(--purple3);
}

.reviews .slide p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

.reviews .slide h3{
   font-size: 2rem;
   color:var(--purple2);
}

.reviews .slide span{
   font-size: 1.5rem;
   color:var(--purple3);
   display: block;
}

.reviews .slide img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   margin-top: 1rem;
}













.footer{
   background-color: var(--purple3) ;
   padding: 10px 10px;
}

 .footer h3{

   color: #fff;
   padding-bottom: 2rem;
   font-size: 2rem;

 }
 .footer .box-container .box a{
   color:var(--light-white);
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}

.footer .box-container .box a i{
   color:var(--purple1);
   padding-right: .5rem;
   transition: .2s linear;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}
 

 .footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}

.footer .credit{
   text-align: center;
   padding-top: 1.5rem;
   margin-top: 2rem;
   border-top: .1rem solid var(--light-white);
   font-size: 2rem;
   color:white;
}
.footer .credit span{
   color:var(--purple1);
}
